@model IEnumerable<TutorLizard.BusinessLogic.Models.AdRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRemote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplyMessage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRemote)
                </th>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id= item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>